<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../../node_modules/vue/dist/vue.min.js"></script>
  <style>
    .anima-enter,
    .anima-leave-to {
      opacity: 0;
      transform: translateX(12.5rem)
    }
    .anima-enter-active,
    .anima-leave-active {
      transition: all .8s linear;
    }
  </style>
</head>

<body>
  <div id="app">
    <input type="button" value="toggle" @click="flag=!flag">

    <!-- Vue组件---transition，包裹元素后可动画渲染 -->
    <!-- <transition>
      <h3 v-if='flag'>YoursOwen Love Peace</h3>
    </transition> -->


    <!-- 当然，也支持自定义前缀，避免多个transition组件类名定义冲突 -->
    <!-- 定义一个name属性名,可替换V-  -->
    <transition name='anima'>
        <h3 v-if='flag'>YoursOwen Love Peace</h3>
    </transition>



  </div>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        flag: false
      },
      methods: {}
    })
  </script>
</body>

</html>